@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.slick-slide > div {
  padding-bottom: 25px;
  padding: 15px 15px 20px 15px;
}

.project-slide .slick-slide {
  padding-bottom: 25px;
}

.radial-bg {
  background: radial-gradient(50% 104.51% at 50% 50%, #0c3535 0%, #453115 100%);
}

.bubblebg {
  background: linear-gradient(
    229.18deg,
    #93703a 20.2%,
    #5b542b 44.44%,
    #136750 68.96%,
    #125053 85.21%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .btn {
    @apply bg-gradient-to-r from-btn to-btnEnd hover:bg-gradient-to-l hover:from-btnEnd  hover:to-btn transition-all duration-700;
  }
}
html {
  scroll-behavior: smooth;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
    opacity: 20;
  }
}

.scale-up {
  animation: scaleUp 25s ease-in-out infinite;
}
